body {
	text-align:center;
	background-image:url('space.jpg');
	background-size:cover;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 3.0em;
	color: #ffffff;
}

.maintable {
	border: 1px solid #ffffff;
	padding: 0;
	width: 80%;
	height: 500px;
	text-align:center;
	margin-left: auto; 
	margin-right: auto;
	table-layout: fixed;
	border-collapse: collapse;
}

.maintr {
	border: 1px solid #ffffff;
	font-family: 'Varela Round', sans-serif;
	color: #1A3441;
	background-color: #97C6DC;
}

td {
	border: 1px solid #ffffff;
	font-family: 'Varela Round', sans-serif;
	color: #1A3441;
	background-color: #97C6DC;
}

th {
	border: 1px solid #ffffff;
	font-family: 'Varela Round', sans-serif;
	color: #ffffff;
	background-color: #2F5E75;
	font-weight: bold;
}

.planet {
	background-color: #4C8BA7;
	font-weight: bold;
	font-size: 1.5em;
}